html {
	font-size: 100%
}


h1 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 2rem;
}

h4 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
}

p {
  color: #5d635e;
  text-align: center;
  font-family: 'Crimson Text', "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1rem;
	width: 90%;
}

body{
	background-color:#ebc4b3;
  text-align: center;
}


#container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
}


#container {
    padding: 10px;
}

#container li {
    list-style-type: none;
    margin: 4px;
    padding: 0px;
	border-bottom: 2px solid #800101;
	text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
	display:flex;
    color: #800101;
    background-color: #ab7371;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#container a:hover, a:active {
    background-color: #F3E2E2;
}

img{
	border-style: none;
		display: block;
}

.menu-trigger{
	background-color: #ab7371;
	color: #800101;
}
		@media screen and (min-width: 400px) {
				img{
						float:left;
						}
						}

p {
	  margin-bottom: 0.5em;
	  border-bottom:1px solid black;
	}

	p:last-of-type{
	  border-bottom: none;
	}

	@media screen and (min-width:450px){
	  nav ul{
	    flex-flow: row;
	    justify-content: space-between;
	  }
	}

	@media screen and (min-width:1000px){
	  nav ul{
	    display: flex;
			flex-flow: row;
			justify-content: center;
		}
	}

.section1{
    grid-area: a;
  }
  .image {
    grid-area: b;
  }

	.section2{
		grid-area: c;
	}

	.section3{
		grid-area: d;
	}

		@media screen and (min-width:1000px){
			article{
				display: grid;
				grid-template-columns:300px 1fr 1fr 1fr;
				grid-gap: 20px;
				grid-template-areas:
					"b a a"
					"c c d"
					"c c d";}
				}

		@media screen and (min-width:1200px){
			article{
				display: grid;
				grid-template-columns:300px 1fr 1fr;
				grid-gap: 20px;
				grid-template-areas:
					"b a c "
					"b a c"
					"d d d";}
				}

	header{
				  display: flex;
				  flex-flow: row;
				  background-color: #65A8A6;
				  margin: 0;
				  padding: 0 10px;
				}

nav ul li{
				  display: block;
				  border-top: 1px #79896D solid;
				}

nav a{
				  color: #F8ECC2;
				  display: block;
				  text-decoration: none;
				  padding: 20px 30px;
				}


.menu-trigger{
				  order:1;
				}

header h1{
				  order: 2;
				  color: white;
				}

nav ul{
				  display: none;
				}

@media screen and (min-width:700px){
				  nav ul{
				    display: flex;
				  }
.menu-trigger{
			 display: none;
				}
nav ul li{
		  border-top: none;
				}
nav{
	 	order:2;
				}
header h1{
		 order:1;
				}
				}
