html {
	font-size: 100%
}


h1 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 2rem;
}

h4 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
}

p {
  color: #5d635e;
  text-align: center;
  font-family: 'Crimson Text', "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1rem;
	width: 80%;
}

body{
	background-color:#ebc4b3;
  text-align: center;
}



#container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: stretch;
flex-flow: wrap;
justify-content: space-around;
align-items: flex-start;
}


#container {
    padding: 10px;
}

#container li {
    list-style-type: none;
    margin: 4px;
    padding: 0px;
	border-bottom: 2px solid #800101;
	text-decoration: none;
}

#container a:link, a:visited {
	display:flex;
    color: #800101;
    background-color: #ab7371;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#container a:hover, a:active {
    background-color: #F3E2E2;
}

img{
	border-style: none;
		display: block;
}
		@media screen and (min-width: 400px) {
				img{
						float:left;
						}
						}

p {
	  margin-bottom: 0.5em;
	  border-bottom:1px solid black;
	}

	p:last-of-type{
	  border-bottom: none;
	}

	@media screen and (min-width:450px){
	  nav ul{
	    flex-flow: row;
	    justify-content: space-between;
	  }
	}

	@media screen and (min-width:1000px){
	  nav ul{
	    display: flex;
			flex-flow: row;
			justify-content: center;
		}
	}


	.authorbox{
    width: 100%;
    grid-area:a;
  }
  .section1 {
    grid-area: b;
  }
  .image {
    grid-area: c;
  }
  .section2 {
    grid-area: d;}

		@media screen and (min-width:1000px){
			p{
				display: grid;
				grid-template-columns:800px 1fr 1fr 1fr;
				grid-gap: 20px;
				grid-template-areas:
					"a a a"
					"c c d"
					"c c d"}

		@media screen and (min-width:1200px){
			p{
				display: grid;
				grid-template-columns:1000px 1fr 1fr 1fr;
				grid-gap: 20px;
				grid-template-areas:
					"a b b "
					"b b c"
					"c c d"}
