html {
	font-size: 100%
}

p {
  color: white;
  text-align: center;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1rem;
}

h1 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-size: 2.5rem
}

body{
	background-color:#A43F3F;
  text-align: center;
}

#container{
    width: 50%;
    margin: 0 auto;
}

#nav {
    padding: 10px;
}

#nav li {
    list-style-type: none;
    margin: 4px;
    padding: 0;
	border-bottom: 1px solid #800101;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #800101;
    background-color: #DEAAAA;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}
